<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <base href="/">
</head>
<div class="container" style="width: 100%; background-image: url('/static/images/starry-night.png'); background-attachment: fixed; background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover;">
    <div class="row">
        <div class="col-xs-12 blog-header"
             style="min-height: 200px;">
            <div class="row">
                <ul>
                    <li class="col-xs-3"
                        style="padding-top: 5px; color: white; text-align: center; display: inline-block">
                        <a href="/" style="color: white; text-decoration: none;">
                            HOME
                        </a>
                    </li>
                    <li class="col-xs-3"
                        style="padding-top: 5px; color: white; text-align: center; display: inline-block">
                        <a href="" style="color: white; text-decoration: none;">
                            BLOG
                        </a>
                    </li>
                    <li class="col-xs-3"
                        style="padding-top: 5px; color: white; text-align: center; display: inline-block">CONTACT
                    </li>
                    <li class="col-xs-3"
                        style="padding-top: 5px; color: white; text-align: center; display: inline-block">RSS FEED
                    </li>
                </ul>

                <img src="/static/images/chalkboard-bower.png" alt=""
                     style="width: 7%; display: block; margin: auto; padding-top: 20px">

                <div class="col-xs-12">
                    <h1 style="text-align: center; font-size: 42px; font-family: 'Courgette'; color: white;">Correct Me If I'm Wrong</h1>
                </div>

                <div class="col-xs-12" style="margin-bottom: 20px;">
                    <p style="color: white; text-align: center; padding-right: 15px;">Powered By</p>
                    <div class="col-xs-1 col-xs-offset-5" style="padding-top: 5px;">
                        <img src="/static/images/chalkboard-django.png" alt="" style="width: 100%;">
                    </div>
                    <div class="col-xs-1">
                        <img src="/static/images/chalkboard-angular2.png" alt="" style="width: 50%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" style="margin-left: 1%; border-radius: 10px; min-height: 900px; background-color: lightblue">
            <h3>RECENT ARTICLES</h3>
            <a href="">
                <p> ................... </p>
            </a>
            <a href="">
                <p> ................... </p>
            </a>
            <a href="">
                <p> ................... </p>
            </a>
            <h3>TAGS</h3>
            <div style="float: left; border: 1px solid darkgray; background-color: white; margin-bottom: 5px; padding: 5px 10px; margin-right: 10px;">
                Python
            </div>
            <div style="float: left; border: 1px solid darkgray; background-color: white; margin-bottom: 5px; padding: 5px 10px; margin-right: 10px;">
                Angular2
            </div>
            <div style="float: left; border: 1px solid darkgray; background-color: white; margin-bottom: 5px; padding: 5px 10px; margin-right: 10px;">
                Django
            </div>
            <div style="float: left; border: 1px solid darkgray; background-color: white; margin-bottom: 5px; padding: 5px 10px; margin-right: 10px;">
                Bower
            </div>
            <div style="float: left; border: 1px solid darkgray; background-color: white; margin-bottom: 5px; padding: 5px 10px; margin-right: 10px;">
                HTML5
            </div>
            <div style="float: left; border: 1px solid darkgray; background-color: white; margin-bottom: 5px; padding: 5px 10px; margin-right: 10px;">
                LESS
            </div>
            <div style="float: left; border: 1px solid darkgray; background-color: white; margin-bottom: 5px; padding: 5px 10px; margin-right: 10px;">
                Really Long Tag
            </div>
        </div>
        <div class="col-xs-9" style="width: 72%; margin-left: 1%; border-radius: 10px; min-height: 900px; background-color: yellow; padding-top: 30px;">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1" style="margin-top: 20px; min-height: 30%; background-color: white; padding: 10px 30px;">
                    <h2 style="padding-bottom: 10px; text-align: center; border-bottom: 1px solid gray;"> ............... </h2>
                    <p style="text-align: center">0 COMMENTS</p>
                    <p style="font-size: 16px; margin: 30px 15px;">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                    <div style="float: right">October 31st, 2016 1:14 pm</div>
                </div>
                <div class="col-xs-10 col-xs-offset-1" style="margin-top: 20px; min-height: 30%; background-color: white; padding: 10px 30px;">
                    <h2 style="padding-bottom: 10px; text-align: center; border-bottom: 1px solid gray;"> .................. </h2>
                    <p style="text-align: center;">0 COMMENTS</p>
                    <p style="font-size: 16px; margin: 30px 15px;">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                    <div style="float: right">October 31st, 2016 1:14 pm</div>
                </div>
                <div class="col-xs-10 col-xs-offset-1" style="margin-top: 20px; min-height: 30%; background-color: white; padding: 10px 30px;">
                    <h2 style="padding-bottom: 10px; text-align: center; border-bottom: 1px solid gray;"> .................... </h2>
                    <p style="text-align: center;">0 COMMENTS</p>
                    <p style="font-size: 16px; margin: 30px 15px;">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                    <div style="float: right">October 31st, 2016 1:14 pm</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 pull-left" style="margin-top: 20px; margin-bottom: 30px;">
                    <button class="btn btn-primary" style="padding: 10px 25px; min-width: 100px;">PREVIOUS</button>
                </div>
                <div class="col-xs-3 pull-right" style="margin-top: 20px; margin-bottom: 30px; text-align: right;">
                    <button class="btn btn-primary" style="padding: 10px 25px; min-width: 100px;">NEXT</button>
                </div>
            </div>
        </div>
    </div>
</div>