{% extends 'base.html' %}

{% block content %}
    <section class="st-panel" id="st-panel-1">
        <div class="row">
            <div class="col-xs-12 hero-section">
                <span class="star red"></span>
                <span class="star pink"></span>
                <span class="star blue"></span>
                <span class="star yellow"></span>
    
                <span class="star orange"></span>
                <span class="star purple"></span>
                <span class="star green"></span>
                <span class="star brown"></span>
                <div class="hero-heading"
                     style="position: absolute; top: 50px; left: 50%; transform: translate(-50%)">
                    <h1 style="font-family: 'Permanent Marker', cursive; font-weight: 300;font-size: 42px; text-align: center; margin: 0px; color: white;">
                        Baney.Dev</h1>
                    <p style="font-family: 'Courgette'; font-size: 20px; text-align: center; color: white; margin-top: 6px;"></p>
                </div>
                <img src="static/images/hero-mountains.png"
                     style="width: 100%; position: absolute; bottom: 0px; margin-top: 94px;">
            </div>
        </div>
    </section>

    <section class="st-panel st-color" id="st-panel-2"
             style="background-image: url('/assets/images/full-chalkboard.png')">
        <div class="row" style="margin-top: 40px;">
            <div class="col-xs-12">
                <div style="padding: 0 18%;">
                    <img src="/static/images/chalkboard-title.png" alt="" style="display: block; width: 100%;">
                </div>
            </div>
            <div style="display: block; margin: 0 auto; float: left;">
                <div class="skill" id="python" onclick="showSkillInfo('python')">
                    <img src="/static/images/chalkboard-python.png" alt="">
                </div>
                <div class="skill" id="node" onclick="showSkillInfo('node')">
                    <img src="/static/images/chalkboard-node.png" alt="">
                </div>
                <div class="skill" id="angular2" onclick="showSkillInfo('angular2')">
                    <img src="/static/images/chalkboard-angular2.png" alt="">
                </div>
                <div class="skill" id="django" onclick="showSkillInfo('django')">
                    <img src="/static/images/chalkboard-django.png" alt="">
                </div>
                <div class="skill" id="responsive" onclick="showSkillInfo('responsive')">
                    <img src="/static/images/chalkboard-responsive.png" alt="">
                </div>
            </div>
            <div class="chalkboard-content col-xs-12" style="float: left; min-height: 350px; width: 100%;">
                <div class="content-container-2">
                    <p id="skill-info">

                    </p>
                </div>
            </div>
            <div class="bottom-skill-container" style="display: block; float: left;">
                <div class="skill" id="basics" onclick="showSkillInfo('basics')">
                    <img src="/static/images/chalkboard-basics.png" alt="">
                </div>
                <div class="skill" id="bootstrap" onclick="showSkillInfo('bootstrap')">
                    <img src="/static/images/chalkboard-bootstrap.png" alt="">
                </div>
                <div class="skill" id="bower" onclick="showSkillInfo('bower')">
                    <img src="/static/images/chalkboard-bower.png" alt="">
                </div>
                <div class="skill" id="treehouse" onclick="showSkillInfo('treehouse')">
                    <img src="/static/images/chalkboard-treehouse.png" alt="">
                </div>
                <div class="skill" id="phoenix" onclick="showSkillInfo('phoenix')">
                    <img src="/static/images/chalkboard_uni_phoenix.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="st-panel st-color" id="st-panel-3"
             style="background-image: url('/static/images/starry-night.jpg'); background-attachment: fixed; background-size: cover">
        <div class="row">
            <div class="col-xs-12 projects-section" style="position: static;">
                <div class="testimonials-content"
                     style="position: absolute; left: 80px; width: 1200px; top: 80px; height: 300px; border: 6px solid #021c3a; background-color: #0587d2; opacity: .6">
                    <div class="testimonials-arrow">
                        <div style="border: solid transparent; content: ''; height: 0; width: 0; position: absolute; pointer-events: none; border-top-color: #0587d2; border-width: 31px; top: -10px; left: 50%; transform: translate(-50%, -50%)">

                        </div>
                    </div>
                </div>
                <div class="cruise-ship">
                    <img src="/static/images/cruiseship2.png" alt="">
                </div>
                <div style="position: absolute; bottom: -73px;">
                    <img class="beach-sand" src="/static/images/beach-sand.png" alt="">
                    <img src="/static/images/cleanbeachbg.png" alt="">
                </div>
                <div style="position: absolute; width: 390px; height: 460px; bottom: -5px; right: -30px;">
                    <img src="/static/images/palmtreelean.png" alt="" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>

    <section class="st-panel st-color" id="st-panel-5">
        <div class="row">
            <div class="col-xs-12">
                <div style="background-color: #021c3d; position: relative; height: 830px;">
                    <div class="contact-title" style="">
                        <h1>About Me</h1>
                    </div>
                    <div class="col-xs-12" style="text-align: center">
                        <div class="bio-photo" style="">
                            <img src="/static/images/about-me.png" alt=""
                                 style="width: 100%; border-radius: 50%">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="bio-content-container">
                            <p class="bio-content">
                                Howdy ! My name is Timothy Baney, and I'm a web developer. I went
                                to school in Arizona, drifting through majors like many others do until
                                finally discovering the amazing world of code, and setting my sites on
                                Computer Science. I received certification from a coding bootcamp, and
                                eventually received a job offer in northwest Arkansas at a company called
                                Mill Creek Software where I create content managed web applications for
                                clients of all sorts. I live with my beautiful fiance, and 4 party animals.
                                When I'm not working on the information super highway, I like kayaking,
                                biking, and trying to tire out my german shepherd. I also love to travel.
                                If you'd like to get in touch with me about a website, remote work, or even
                                just to give me feedback about this site, please email me at <a
                                    href="mailto:timbaney1989@gmail.com">timbaney1989@gmail.com</a>
                            </p>
                            {#                                    <p class="phone-email">#}
                            {#                                        <i class="fa fa-phone" style="margin-right: 5px;"></i><span#}
                            {#                                            style="margin-right: 20px;">479-418-2865</span>#}
                            {#                                        <a href="mailto:tim@millcreeksoftware.biz">#}
                            {#                                            <i class="fa fa-envelope-o" style="margin-right: 5px;"></i>#}
                            {#                                            <span>tim@millcreeksoftware.biz</span>#}
                            {#                                        </a>#}
                            {#                                    </p>#}
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="social-icons">
                            {#                                    <div style="display: inline-block; width: 50px; height: 50px; margin-right: 10px;">#}
                            {#                                        <a href="https://www.linkedin.com/in/timothy-baney-b5293664" target="_blank">#}
                            {#                                            <img src="/static/images/linkedin.png" alt="" style="width: 100%">#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                            {#                                    <div style="display: inline-block; width: 50px; height: 50px;">#}
                            {#                                        <a href="https://twitter.com/timbaney1989?lang=en" target="_blank">#}
                            {#                                            <img src="/static/images/twitter.png" alt="" style="width: 100%">#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                            {#                                    <div style="display: inline-block; width: 50px; height: 50px;">#}
                            {#                                        <a href="http://stackoverflow.com/users/5159043/timothy-joseph-baney"#}
                            {#                                           target="_blank">#}
                            {#                                            <img src="/static/images/so-icon.png" alt="" style="width: 100%">#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                            {#                                    <div style="display: inline-block; width: 50px; height: 50px; margin-right: 5px;">#}
                            {#                                        <a href="https://github.com/TJBANEY" target="_blank">#}
                            {#                                            <img src="/static/images/github.png" alt="" style="width: 100%">#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}