{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BaneyDev Arkansas Freelance Web Development</title>
    <meta name="description" content="Freelance web developer in the mid-west creating beautiful content managed,
    and responsive web applications.">
    <base href="/">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86502540-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script>
        function getSkillInfo(skill) {

        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/hero.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/projects.css">
    <link rel="stylesheet" href="/static/css/skills.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async="async"></script>

</head>
<body>
<div class="container">
    <div class="st-container">

        <div class="st-scroll">

            <ul class="col-xs-12" style="position: absolute; top: 0px">
                <li class="col-xs-3"
                    style="z-index: 1; padding-top: 5px; color: white; text-align: center; display: inline-block">
                    <a [routerLink]="['home']" style="color: white; text-decoration: none;">
                        HOME
                    </a>
                </li>
                <li class="col-xs-3"
                    style="z-index: 1; padding-top: 5px; color: white; text-align: center; display: inline-block">
                    <a [routerLink]="['blog']" style="color: white; text-decoration: none;">
                        BLOG
                    </a>
                </li>
                <li class="col-xs-3"
                    style="z-index: 1; padding-top: 5px; color: white; text-align: center; display: inline-block">
                    <a [routerLink]="['home']">
                        CONTACT
                    </a>
                </li>
                <li class="col-xs-3"
                    style="z-index: 1; padding-top: 5px; color: white; text-align: center; display: inline-block">
                    <a [routerLink]="['home']">
                        RSS FEED
                    </a>
                </li>
            </ul>

            <section class="st-panel" id="st-panel-1">
                <div class="row">
                    <div class="col-xs-12 hero-section">
                        <span class="star red"></span>
                        <span class="star pink"></span>
                        <span class="star blue"></span>
                        <span class="star yellow"></span>

                        <span class="star orange"></span>
                        <span class="star purple"></span>
                        <span class="star green"></span>
                        <span class="star brown"></span>
                        <div class="hero-heading"
                             style="position: absolute; top: 50px; left: 50%; transform: translate(-50%)">
                            <h1 style="font-family: 'Permanent Marker', cursive; font-weight: 300;font-size: 42px; text-align: center; margin: 0px; color: white;">
                                Baney.Dev</h1>
                            <p style="font-family: 'Courgette'; font-size: 20px; text-align: center; color: white; margin-top: 6px;"></p>
                        </div>
                        <img src="{{ fullImagePath }}"
                             style="width: 100%; position: absolute; bottom: 0px; margin-top: 94px;">
                    </div>
                </div>
            </section>

            <div class="row" style="margin-top: 40px;">
                <div class="col-xs-12">
                    <div style="padding: 0 18%;">
                        <img src="/static/images/chalkboard-title.png" alt="" style="display: block; width: 100%;">
                    </div>
                </div>
                <div style="display: block; margin: 0 auto; float: left;">
                    <div class="skill" id="python" (click)="showSkillInfo('python')">
                        <img src="/static/images/chalkboard-python.png" alt="">
                    </div>
                    <div class="skill" id="node" (click)="showSkillInfo('node')">
                        <img src="/static/images/chalkboard-node.png" alt="">
                    </div>
                    <div class="skill" id="angular2" (click)="showSkillInfo('angular2')">
                        <img src="/static/images/chalkboard-angular2.png" alt="">
                    </div>
                    <div class="skill" id="django" (click)="showSkillInfo('django')">
                        <img src="/static/images/chalkboard-django.png" alt="">
                    </div>
                    <div class="skill" id="responsive" (click)="showSkillInfo('responsive')">
                        <img src="/static/images/chalkboard-responsive.png" alt="">
                    </div>
                </div>
                <div class="chalkboard-content col-xs-12" style="float: left; min-height: 350px; width: 100%;">
                    <div class="content-container-2">
                        <p>
                            {{ info }}
                        </p>
                    </div>
                </div>
                <div class="bottom-skill-container" style="display: block; float: left;">
                    <div class="skill" id="basics" (click)="showSkillInfo('basics')">
                        <img src="/static/images/chalkboard-basics.png" alt="">
                    </div>
                    <div class="skill" id="bootstrap" (click)="showSkillInfo('bootstrap')">
                        <img src="/static/images/chalkboard-bootstrap.png" alt="">
                    </div>
                    <div class="skill" id="bower" (click)="showSkillInfo('bower')">
                        <img [src]="skills_image.bower" alt="">
                    </div>
                    <div class="skill" id="treehouse" (click)="showSkillInfo('treehouse')">
                        <img [src]="skills_image.treehouse" alt="">
                    </div>
                    <div class="skill" id="phoenix" (click)="showSkillInfo('phoenix')">
                        <img [src]="skills_image.phoenix" alt="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 projects-section">
                    <h1 style="text-align: center; color: white; font-family: 'Courgette'; font-size: 48px; margin: 18px 0 0 0;">
                        Testimonials</h1>
                    <div class="testimonials-content">
                        <div class="testimonials-arrow">
                            <div style="border: solid transparent; content: ''; height: 0; width: 0; position: absolute; pointer-events: none; border-top-color: #0587d2; border-width: 31px; top: -10px; left: 50%; transform: translate(-50%, -50%)">

                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; bottom: 0px; width: 100%; height: 375px;">
                        <div class="cruise-ship" style="position: absolute; top: 0px;">
                            <img src="/static/images/cruiseship2.png" alt="">
                        </div>
                        <div style="position: absolute; bottom: -73px;">
                            <img class="beach-sand" src="/static/images/beach-sand.png" alt="" style="width: 100%;">
                            <img src="{{ fullBeachImagePath }}" alt="">
                        </div>
                        <div class="palm-tree">
                            <img src="/static/images/palmtreelean.png" alt="" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div style="background-color: #021c3d; position: relative; height: 830px;">
                        <div class="contact-title">
                            <h1>About Me</h1>
                        </div>
                        <div class="bio-photo">
                            <img src="/static/images/about-me.png" alt="" style="width: 100%; border-radius: 50%">
                        </div>
                        <div class="bio-content-container">
                            <p class="bio-content">
                                Howdy ! My name is Timothy Baney, and I'm a web developer. I went
                                to school in Arizona, drifting through majors like many others do until
                                finally discovering the amazing world of code, and setting my sites on
                                Computer Science. I received certification from a coding bootcamp, and
                                eventually received a job offer in northwest Arkansas at a company called
                                Mill Creek Software where I create content managed web applications for
                                clients of all sorts. I live with my beautiful fiance, and 4 party animals.
                                When I'm not working on the information super highway, I like kayaking,
                                biking, and trying to tire out my german shepherd. I also love to travel.
                                If you'd like to get in touch with me about a website, remote work, or even
                                just to give me feedback about this site, please email or call me, or
                                visit me on social media.
                            </p>
                            <p class="phone-email">
                                <i class="fa fa-phone" style="margin-right: 5px;"></i><span
                                    style="margin-right: 20px;">479-418-2865</span>
                                <a href="mailto:tim@millcreeksoftware.biz">
                                    <i class="fa fa-envelope-o" style="margin-right: 5px;"></i>
                                    <span>tim@millcreeksoftware.biz</span>
                                </a>
                            </p>
                        </div>
                        <div class="social-icons">
                            <div style="display: inline-block; width: 50px; height: 50px; margin-right: 10px;">
                                <a href="https://www.linkedin.com/in/timothy-baney-b5293664" target="_blank">
                                    <img src="/static/images/linkedin.png" alt="" style="width: 100%">
                                </a>
                            </div>
                            <div style="display: inline-block; width: 50px; height: 50px;">
                                <a href="https://twitter.com/timbaney1989?lang=en" target="_blank">
                                    <img src="/static/images/twitter.png" alt="" style="width: 100%">
                                </a>
                            </div>
                            <div style="display: inline-block; width: 50px; height: 50px;">
                                <a href="http://stackoverflow.com/users/5159043/timothy-joseph-baney" target="_blank">
                                    <img src="/static/images/so-icon.png" alt="" style="width: 100%">
                                </a>
                            </div>
                            <div style="display: inline-block; width: 50px; height: 50px; margin-right: 5px;">
                                <a href="https://github.com/TJBANEY" target="_blank">
                                    <img src="/static/images/github.png" alt="" style="width: 100%">
                                </a>
                            </div>
                        </div>
                        <div class="pets">
                            <img src="/static/images/pets.png" alt="" style="width: 100%;">
                        </div>
                        <div class="desk">
                            <img src="/static/images/computer-desk.png" alt="" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>
